body {
  height: 100vh;
  margin: 0;
}
.container {
  display: flex;
  flex-direction: column;
  margin: auto;
  background: #f0f0f0;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  width: 400px;
}
h1 {
  text-align: center;
}
form {
  display: flex;
  flex-direction: column;
}
label {
  margin-top: 10px;
  font-weight: bold;
}
input,
select {
  padding: 10px;
  margin: 5px 0;
  border: 1px solid #ccc;
  border-radius: 3px;
}
.checkbox-label {
  display: flex;
  align-items: center;
}
.checkbox-label input {
  margin-right: 5px;
}
button {
  margin-top: 10px;
  padding: 10px;
  background: #007bff;
  color: #fff;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}
